#form-login {
    background: #e74c3c;
}

.form-login-content h1 {
    color: white;
}

#form-login li.active a {
    background: #e74c3c;
}
#form-login li.active a:hover {
    background: #e74c3c;
}
#form-login li a:hover {
    background: #f5f5f5;
}

.tabs {
    background: #c0392b;
}
.tabs a {
    background: #c0392b;
    color: #f1978e;
}
