.form_choix_couleur{
    display: inline;   /*pour que l'input soit à coté de la liste déroulante'*/
}

.td_jour
{
    width: 60px;
}

.container {
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
}
