@import url("../font/font.css");

.center-content
{
	display:table;
	margin:auto;
}

.center-text
{
	text-align: center;
}

.input-text
{
	height: 20px; 
	font-size: 10pt;
}

body .modal-large {
    /* new custom width */
    width:1200px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.font-school
{
	font-family: 'please_write_me_a_songmedium';
}

.size-message-information
{
	font-size: 24px;
}


