/* Sticky footer styles
     -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#nav
{
	top: 50%;
	left: 50%;
	width: 100%;
    z-index:10;
}

#nav.affix {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index:10;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 150px;
    background-color: #428bca;
    color: white;
}

#footer a{
	color: white;
}

#footer a:hover{
	text-decoration: none;
	background-color: #000;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

code {
    font-size: 80%;
}

/* Sidebar */

#toggleSidebar {
    float:right;
    color:#779DD7;
    padding:2px 4px;
}

#sidebar{
 float:right;   
 height: 100%;
}


.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px; /*8px 15px;*/
}

.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
}

.no-sidebar {
    margin-right:0 !important;
}

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none; /* Very important */
}