@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}

.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}

.menu-item-hover li:hover{
	background-color: #000;
}

.navbar-nav li>a:hover
{
	background-color: #F5F5F5;
}
.navbar-custom .dropdown-menu{
	right:0;
}

.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.border_bottom_5px_selected
{
	border-bottom: 5px solid #00aaea;
}

.border_bottom_5px_nocolor
{
	border-bottom: 5px solid;
}

.border_bottom_5px_nocolor:hover
{
	border-bottom-color: #00aaea;
}
